:root {
    --first-color: rgb(5, 4, 4);
    --cards-color: rgb(99, 3, 3);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    background-color: var(--first-color);
    height: 100vh;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    height: 10%;
    background-color: var(--cards-color);
}
.header-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
    width: 50%;
    margin: 0 auto;
    height: 100%;
}
.button {
    width: 100px;
    height: 50%;
    background-color: var(--card-color);
}
.main {
    flex-grow: 1;
    width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: center;
}
.footer {
    height: 10%;
    background-color: var(--cards-color);
    padding: 0.5rem 1rem;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}
.memory-cards {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    perspective: 1000px;
    justify-content:end;
}
.memory-card {
    position: relative;
    width: calc(25% - 20px);
    height: calc(33.33% - 20px);
    margin: 10px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 2px 2px 10px red;
    border-radius: 10px;
}
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
  }
.front-face, .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--cards-color);
    backface-visibility: hidden;
    border-radius: 10px;
    padding: 5%;
}
.front-face {
    transform: rotateY(180deg);
  }

.gh-link {
    color: var(--first-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}
.gh-link:hover {
    color: #7378c5;
}
.footer span {
    color: var(--first-color);
    font-size: 1.5rem;
}
.rs-school {
    display: block;
    max-width: 100px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.rs-school img:hover {
    filter: invert(18%) sepia(77%) saturate(7456%) hue-rotate(342deg) brightness(89%) contrast(92%);
}
.rs-school img {
    filter: invert(14%) sepia(18%) saturate(2025%) hue-rotate(197deg) brightness(93%) contrast(95%);
    transition: all 0.3s ease-in-out;
}
